<div class="container">
    <h1>Welcome <%= current_user.username if current_user %>!</h1>

    <h2>Your Feed</h2>

    <ul>
    <% @posts.each do |post| %>
        <li>
            <a href="/posts/<%= post.id %>">
                <p><%= post.content %></p>
                <p><strong><%= post.user.username %></strong></p>
            </a>
            <p>
                Created <%= time_ago_in_words(post.created_at) %> ago |
                Updated <%= time_ago_in_words(post.updated_at) %> ago
            </p>
        </li>
    <% end %>
    </ul>

    <div>
    <%= link_to "Make New Post", new_post_path %>
    <%= link_to "Logout", logout_path, method: :delete %>
    </div>
</div>

<style>
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    h1, h2 {
        text-align: center;
    }

    ul {
        list-style: none;
    }

    li {
        border-bottom: 1px solid ;
        padding-bottom: 1rem;
    }
</style>